<%= link_to(image_tag(@page['picture']), @page['link']) %><br />
<strong><%= raw @page['linked_name'] %></strong> is in the <em>"<%= @page['category'].downcase %>"</em> category and has <strong><%= number_with_delimiter @page['likes'] %> likes.</strong><br />

<%= raw @page['linked_name'] %> has posted <strong><%= number_with_delimiter @averages[:post_count_total] %></strong> items (avg rounded: <% if @averages[:posts_per_day] %><strong><%= number_with_delimiter @averages[:posts_per_day].round %></strong> per day. Based on the past <%= number_with_delimiter @averages[:based_on_days].round %> days.<% else %>N/A<% end %></strong>)<br />

<%= raw @page['linked_name'] %>'s posts have been liked <strong><%= number_with_delimiter @averages[:post_likes_total] %></strong> times (avg rounded: <% if @averages[:likes_per_post] %><strong><%= number_with_delimiter @averages[:likes_per_post].round %></strong><% else %>N/A<% end %> per post.)<br />
<%= raw @page['linked_name'] %>'s posts have been commented on <strong><%= number_with_delimiter @averages[:post_comments_total] %></strong> times (avg rounded: <% if @averages[:comments_per_post] %><strong><%= number_with_delimiter @averages[:comments_per_post].round %></strong><% else %>N/A<% end %></strong> per post.)<br />


Our Vatican assassin warlock has rated this page as <strong>
<% if @averages[:posts_per_day] == nil -%>
  N/A
<% elsif @averages[:posts_per_day] > 1 -%>
  <span style='color: red;'>VERY</span>
<% elsif @averages[:posts_per_day] >= 1/7 #(one seventh a day is one a week) -%>
  <span style='color: orange;'>SORT OF</span>
<% else -%>
  <span style='color: green'>NOT</span>
<% end -%>
</strong> spammy. (based off of the post:day ratio)<br />

This is a <strong>
<% if @averages[:interactions_per_post] == nil -%>
  N/A
<% elsif @averages[:interactions_per_post] >= 525 -%>
  <span style='color: green'>WINNING</span>
<% else -%>
  <span style='color: red;'>LOSING</span>
<% end -%>
</strong> page. (based off of the post:like&comments ratio)