<% title "Facebook spam stats for #{@page['name']}" %>
<%= link_to(image_tag(@page['picture']), @page['link']) %><br />
<strong><%= raw @page['linked_name'] %></strong> is a <em><%= @page['category'].downcase %></em> and has <strong><%= number_with_delimiter @page['likes'] %> likes.</strong><br />
<%= raw @page['linked_name'] %> has posted <strong>X</strong> items (avg: <strong>Y</strong> per day.)<br />
<%= raw @page['linked_name'] %> posts have been liked <strong>X</strong> times (avg: <strong>Y</strong> per post.)<br />
Our Vatican assassin warlock has rated this page as <strong><span style='color: red;'>VERY</span>/<span style='color: orange;'>SORT OF</span>/<span style='color: green'>NOT</span></strong> spammy.<br />
This is a <strong><span style='color: green'>WINNING</span>/<span style='color: red;'>LOSING</span></strong> page.
<%= debug @json %>
